<%- include("partials/header") %>
    <div class="container mt-3">
        <div class="row">
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <h1>Login yourself</h1>
                <div class="div">
                    <form id="loginSubmitForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Enter email</label>
                            <input type="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Enter password</label>
                            <input type="password" class="form-control" id="password" required>
                        </div>

                        <div class="form-check">
                            <div class="text-center">
                                <input class="btn btn-primary" type="submit" value="Submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>